<h4 style="margin-top: 20px; color: orange;">ADD MODEL</h4>

<form action="/create" method="post" class="mt-4 shadow p-3 mb-5 bg-body rounded" enctype="multipart/form-dataf">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="title" name="title" placeholder="name..." required>
    <label for="title">Model</label>
  </div>
  <div class="row">
    <div class="col form-floating mb-3">
      <input type="text" class="form-control" id="teslaRange" placeholder="Range" required name="teslaRange">
       <label for="teslaRange" class="ms-2">Range</label>
    </div>
    <div class="col form-floating mb-3">
      <input type="text" class="form-control" id="peakPower" placeholder="Peak Power" required name="peakPower">
       <label for="peakPower" class="ms-2">Peak Power</label>
    </div>
  </div>
  <div class="row">
    <div class="col form-floating mb-3">
      <input type="text" class="form-control" id="awd" placeholder="Awd" required name="awd">
       <label for="awd" class="ms-2">AWD</label>
    </div>
    <div class="col form-floating mb-3">
      <input type="number" class="form-control" id="price" placeholder="Price" required name="price">
       <label for="price" class="ms-2">Price</label>
    </div>
  </div>
  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="subtitle..." id="subtitle" name="subtitle" style="height: 80px" required></textarea>
    <label for="subtitle">Subtitle</label>
  </div>
  <div class="form-floating mb-3">
    <textarea class="form-control" placeholder="description..." id="description" name="description" style="height: 100px" required></textarea>
    <label for="description">Description</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" placeholder="image..." required id="image" name="image">
    <label for="image">Image Url</label>
  </div>
  <button class="btn btn-lg" style="width: 15%; background-color: orange;">Add Car</button>
</form>









