<main>  
    <div class="gallery-container">
      
      <div class="img-block-top">
        <div class="img-wrap img-tran">
          <p>Safety is the most important part of every<br><span class="joke">(Model 3 achieved NHTSA 5-star safety ratings in every category and subcategory.)</span></p>
          <img class="top-img img__st" src="/black.webp" alt="Person holding a baby alpaca, wrapped in a brightly-colored blanket (Photo by Rodolfo Clix from Pexels.com).">
        </div>
        
        <div class="img-wrap img-tran">
          <p>Model 3 comes with the option of dual motor all-wheel drive,<br><span class="joke">(Tesla All-Wheel Drive has two independent motors for improved redundancy, each with only one moving)</span></p>
          <img class="top-img img__st" src="/model3.png" alt="Close-up on head of a brown, fuzzy aplaca (photo by Magda Ehlers from Pexels.com).">
        </div>
      </div>

      <div class="img-block-middle">
        <div class="img-wrap-outer img-tran">
          <p>The ultimate focus on driving: no stalks, no shifting.<br><span class="joke">(Up to 10 teraflops of processing power enables in-car gaming on-par with today’s newest consoles.)</span></p>
          <img class="outer-img img__st" src="/modelf.webp" alt="An alpaca standing in a beautiful mountain vista (photo by Trace Hudson from Pexels.com).">
        </div>
        
        <div class="img-wrap-center img-tran">
          <p>Every item we make is constructed with love and care in Japan!<br><span class="joke">(...our joke team had nothing clever to say here, because even they know there's nothing funny about love!)</p>
          <img class="center-img img__st" src="/modely.webp" alt="A woman in a white shirt gets a smooch from an alpaca (photo by Taryn Elliott from Pexels.com).">
        </div>
        
        <div class="img-wrap-outer img-tran">
          <p>Multi-device Bluetooth, wireless and USB-C charging for every passenger<br><span class="joke">(A 22-speaker, 960-watt audio system with Active Road Noise Reduction offers the best listening experience)</span></p>
          <img class="outer-img img__st" src="/teslag.jpg" alt="A brown alpaca on a high hill (photo by Alex Azabache from Pexels.com).">
        </div>
      </div>

      <div class="img-block-bottom">
        <div class="img-wrap img-tran">
          <p>Safety is the most important part of every<br><span class="joke">(Model Y received the IIHS Top Safety Pick+ award, with top ratings in all )</span></p>
          <img class="bottom-img img__st" src="/teslab.webp" alt="Two alpacas staring deeply into the camera lens (photo by E M from Pexels.com).">
        </div>
        
        <div class="img-wrap img-tran">
          <p>Model Y provides maximum versatility—able to carry 7 passengers and their cargo.<br><span class="joke">(Tesla All-Wheel Drive has two ultra-responsive, independent electric motors that digitally control )</span></p>
          <img class="bottom-img img__st" src="/modelx.webp" alt="Definitely 'not a sheep' wearing a rainbow scarf...Its an alpaca. Yes, most definitely. (Photo by Traveling Inka from Pexels).">
        </div>
      </div>
      
    </div>
  </main>
